@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* Very Small devices (Max width 575.98px) */
@media (max-width: 575.98px) {
  .carousel-item img {
    height: 350px !important;
  }
  .agenda img {
    width: 550px !important;
    height: 200px !important;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .carousel-item img {
    height: 400px !important;
  }
  .agenda img {
    width: 350px !important;
    height: 150px !important;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .carousel-item img {
    height: 450px !important;
  }
  .agenda img {
    width: 250px !important;
    height: 170px !important;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .agenda img {
    width: 250px !important;
    height: 150px !important;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}